<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>CountryServlet</servlet-name>
        <servlet-class>com.example.weather_preferences_app.servlets.country.CountriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountryServlet</servlet-name>
        <url-pattern>/countries/*</url-pattern>
    </servlet-mapping>
</web-app>